---
title: open-source
---

.sticky
  - item = item_by_identifier('/sticky/')
  - if item[:title]
    .title= item[:title]
  .body
    != partial(item)

- oldest_item = nil
- sorted_articles[0, 1].each do |item|
  - oldest_item = item
  = render('_article', :item => item) 
                
  .archive
    - n_older_articles(2, oldest_item).each do |item|
      .title 
        %a(href="#{route_path(item)}" class="permalink")= "&larr; #{item[:title]}"
    