---
---

.article
  .title
    %a(href="#{route_path(item)}" class="permalink")= item[:title]
  .body
    != content || partial(item)
  - if item[:kind] == 'article'
    .meta
      %ul.tags
        %li= pretty_time(item[:created_at])
        - if disqus_shortname 
          %li
            %a(href="#{route_path(item)}#disqus_thread")
        - if item[:tags]
          - item[:tags].sort.each do |tag|
            %li
              %a(href="/tags/#{tag}/" class='tag')
                = tag
