---
---
.excerpt
  - url = "#{route_path(item)}"
  .title
    %a(href="#{url}" title="Full article" class="permalink")= item[:title]
  .body
    %p
      = item[:excerpt] || "!!! Missing excerpt metadata for <code>#{item[:file].path}</code>"
      %a(href="#{url}") &rarr;
  = render('_meta', :item => item)
    
