---
---
!!! Strict
%html
  %head
    %title 
      = "#{@config[:site_title]} - #{@item[:title]}"
    %meta(content="text/html; charset=utf-8" http-equiv="Content-Type")
    - if is_front_page?
      %meta(name="keywords" content="#{tag_set.join(', ')}") 
    - else
      %meta(name="keywords" content="#{@item[:tags].nil? ? '' : @item[:tags].join(', ')}") 
    %link(href="/assets/css/reset.css" rel="stylesheet" type="text/css")
    %link(href="/assets/css/style.css" media="screen" rel="stylesheet" type="text/css")

  %body
    - content = yield
    #main
      #header 
        .logo
          - if is_front_page?
            = site_name
          -else
            %a(href='/')= "&laquo; #{site_name}"
        #nav
          %ul
            - if @item.identifier != '/about/'
              %li
                %a(href='/about.html') about
            - if @item.identifier != '/archives/'
              %li
                %a(href='/archives.html') archives
            - if @item.identifier != '/tags/'
              %li
                %a(href='/tags.html') tags
            %li
              %a(href='/atom.xml') rss
      .clear

      - if @item[:kind] == 'article'
        = render('_article', :item => @item, :content => content)
        = render('_other_articles_nav', :reference_item => @item)
        .clear
        - if !is_front_page?
          = render('_disqus', :item => @item)
      - else
        = content
      .clear
    -# google analytics
    = render('_ganalytics')
