---
---
!!! Strict
%html
  %head
    %title 
      = "#{@item[:title]}"
    %meta(content="text/html; charset=utf-8" http-equiv="Content-Type")
    - if is_front_page?
      %meta(name="keywords" content="#{tag_set.join(', ')}") 
    - else
      %meta(name="keywords" content="#{@item[:tags].nil? ? '' : @item[:tags].join(', ')}") 
    %link(href="/assets/css/reset.css" rel="stylesheet" type="text/css")
    %link(href="/assets/css/style.css" media="screen" rel="stylesheet" type="text/css")

  %body
    - @config[:include_disqus_js] = false
    - content = find_and_preserve(yield)
    #main
      #header 
        .logo
          - if is_front_page?
            = site_name
          - else
            %a(href='/')= "&laquo; #{site_name}"
        #nav
          %ul
            - if @item.identifier != '/about/'
              %li
                %a(href='/about.html') about
            - if @item.identifier != '/archives/'
              %li
                %a(href='/archives.html') archives
            - if @item.identifier != '/tags/'
              %li
                %a(href='/tags.html') tags
            %li
              %a(href='/atom.xml') rss
      .clear

      - if @item[:kind] == 'article'
        = render('_article', :item => @item, :content => content)
        = render('_other_articles_nav', :reference_item => @item)
        .clear
        - if disqus_shortname && !is_front_page?
          = render('_disqus', :item => @item)
      - else
        = content
      .clear

    -# disqus: inserts number of commments     
    - if @config[:include_disqus_js] == true
      :javascript
        (function() {
          var links = document.getElementsByTagName('a');
          var query = '?';
          for(var i = 0; i < links.length; i++) {
            if(links[i].href.indexOf('#disqus_thread') >= 0) {
              query += 'url' + i + '=' + encodeURIComponent(links[i].href) + '&';
            }
          }
          document.write('<script charset="utf-8" type="text/javascript" src="http://disqus.com/forums/#{disqus_shortname}/get_num_replies.js' + query + '"></' + 'script>');
        })();
 
    -# google analytics
    = render('_ganalytics')
