---
---
!!! Strict
%html
  %head
    %title 
      = "mgutz.com - #{@item[:title]}"
    %meta(content="text/html; charset=utf-8" http-equiv="Content-Type")
    %link(href="/assets/css/style.css" media="screen" rel="stylesheet" type="text/css")
  %body
    - content = yield
    
    #main
      #header 
        .logo mgutz
        #nav
          %ul
            -if !is_front_page?
              %li
                %a(href='/') home
            %li
              %a(href='/about/') about
            %li
              %a(href='/archives/') archives
            %li
              %a(href='/tags/all/') tags
      .clear

      - if @item[:kind] == 'article'
        = render('_article', :item => @item, :content => content)
        = render('_other_articles_nav', :reference_item => @item)
      - else
        = content
      .clear
