---
---
!!! Strict
%html
  %head
    %title 
      = "mgutz.com - #{@item[:title]}"
    %meta(content="text/html; charset=utf-8" http-equiv="Content-Type")
    %meta(name="keywords" content="#{tag_set.join(', ')}") 
    %link(href="/assets/css/style.css" media="screen" rel="stylesheet" type="text/css")
    :javascript
      var disqus_developer = 1;

  %body
    - content = yield
    
    #main
      #header 
        .logo
          - if is_front_page?
            mgutz
          -else
            %a(href='/') &laquo; mgutz
        #nav
          %ul
            - if @item.identifier != '/about/'
              %li
                %a(href='/about/') about
            - if @item.identifier != '/archives/'
              %li
                %a(href='/archives/') archives
            - if @item.identifier != '/tags/'
              %li
                %a(href='/tags/') tags
      .clear

      - if @item[:kind] == 'article'
        = render('_article', :item => @item, :content => content)
        = render('_other_articles_nav', :reference_item => @item)
        .clear
        = render('_disqus', :item => @item)
      - else
        = content
      .clear
