---
---
!!! Strict
%html
  %head
    %title 
      = "mgutz.com - #{@item[:title]}"
    %meta(content="text/html; charset=utf-8" http-equiv="Content-Type")
    %link(href="/assets/css/style.css" media="screen" rel="stylesheet" type="text/css")
  %body
    
    #main
      #header 
        .primary mgutz
        .byline
          %a(href='/about/' class='important-link') about
          mario gutierrez, open-source technologist
      - if is_front_page?
        = yield
      - else
        .title= @item[:title]
        .body 
          = yield
        .meta
          - if @item[:tags]
            %ul.tags
              - @item[:tags].each do |tag|
                %li
                  %a(href="/tags/#{tag}/" class='tag')
                    = tag
    #sidebar
      %ul
        -if !is_front_page?
          %li
            %a(href='/' class='internal') home
        %li
          %a(href='/about/' class='internal') about
        %li
          %a(href='/archives/') archives
      
      %ul.tag-list
        - tag_set.sort.each do |tag|
          %li
            %a(href="/tags/#{tag}/" class='tag')= tag